$globalTokens: (
  color: (
    primary: (
      base: #412A8E,
      dark: #1C1045,
      darkest: #0B051C
    ),
    secondary: (
      base: #D5B152
    ),
    tertiary: (
      base: #174E6C
    ),
    neutral: (
      base: #EEECF2,
      light: #EAEDF5,
      lighter: #F0F2F7,
      dark: #E5DFED,
      darker: #CEC3E0
    )
  ),
  size: (
    spacing: (
      base: 16px,
      small: 8px,
      smaller: 4px,
      smallest: 2px,
      large: 24px,
      larger: 32px,
      largest: 64px
    )
  )
)
