$prefix: my-component;

$componentTokens: (
  bg: (
    value: dlds-var(color, neutral, light),
    comment: 'Background color'
  ),
  text: (
    value: dlds-var(color, primary, dark),
    comment: 'Text color'
  ),
  padding: (
    value: dlds-var(size, spacing)
  )
);

@include generate-component-tokens($prefix, $componentTokens);

.test {
  color: var(--text);
  padding: dlds-var(size, spacing, large);
  background: var(--bg);
}
