@import "../../settings/tokens.scss";
@import "../../settings/global.scss";
@import "../../tools/functions/value.scss";

@mixin generate-css-tokens() {
  :root {
    @each $tokenCategory, $tokenMap in $globalTokens {
      @each $tokenName, $tokenValueMap in $tokenMap {
        @each $tokenValueName, $tokenValue in $tokenValueMap {
          $varName: --#{$globalPrefix}--#{$tokenCategory}--#{$tokenName};

          #{$varName}--#{$tokenValueName}: #{value($tokenValue)};

          @if ($tokenCategory == 'color') {
            #{$varName}--#{$tokenValueName}-rgb: #{value-rgb($tokenValue)};
          }
        }
      }
    }
  }
}

@mixin generate-component-tokens($componentPrefix, $componentTokens) {
  :host {
    @each $tokenName, $tokenMap in $componentTokens {
      $value: map-get($map: $tokenMap, $key: value);
      $comment: map-get($map: $tokenMap, $key: comment);
      $varName: --dlds-#{$componentPrefix}--#{$tokenName};

      $commentContent: '';

      @if $comment != null {
        $commentContent: '#{$comment};';
      }

      /**
        * @prop --#{$tokenName}: #{$commentContent} Default value: #{$value}
      */
      --#{$tokenName}: var(#{$varName}, #{$value});
    }
  }
}
