@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function rem($pxValue) {
  $value: strip-unit($pxValue);

  @return $value / 16 * 1rem;
}
