@import "./calculations.scss";

@function is-number($value) {
  @return type-of($value) == "number";
}

@function is-pixel($value) {
  @return is-number($value) and index('px', unit($value)) != null;
}

@function value($value) {
  @if is-pixel($value) {
    @return rem($value);
  }

  @return $value;
}

@function value-rgb($hex) {
  @return red($hex),green($hex),blue($hex);
}
