@import "../../settings/tokens.scss";
@import "../../settings/global.scss";

@function dlds-var($categoryName, $tokenName, $valueName: base) {
  @if map-has-key($map: $globalTokens, $key: $categoryName) {
    $category: map-get($map: $globalTokens, $key: $categoryName);

    @if map-has-key($map: $category, $key: $tokenName) {
      $token: map-get($map: $category, $key: $tokenName);

      @if map-has-key($map: $token, $key: $valueName) {
        $varName: --#{$globalPrefix}--#{$categoryName}--#{$tokenName}--#{$valueName};

        @return var(#{$varName});
      }
      @else {
        @error('Value name #{$valueName} inside #{$tokenName} does not exist');
      }
    }
    @else {
      @error('Token name #{$tokenName} inside #{$categoryName} does not exist');
    }
  }
  @else {
    @error('Category name: #{$categoryName} does not exist');
  }
}
